#table {
    display: table;
    min-height: 100vh;
    color: white;
    overflow: auto;
    position: relative;
}

.table-row {
    width: max-content;
    position: absolute;
}

.table-cell {
    display: table-cell;
    border: 1px solid white;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header {
    height: 20px;
    background: darkblue;
}

.id {
    width: 200px;
    max-width: 200px;
}

.Content {
    width: 500px;
    max-width: 500px;
}

.Time {
    width: 200px;
    max-width: 200px;
}

.Category {
    width: 200px;
    max-width: 200px;
}